*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
html{
    overflow-x: hidden;
}
.collapsibleNavbar{
    transition: ease 0.8s;
}
#banner{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgba(41, 211, 98, 0.544);
    backdrop-filter: blur(5px);
    justify-content: space-between;
    width: 100%;
    min-height: 8vh;
    z-index: 1000;
    align-items: center;
    margin:auto;
    top: 0;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 2vh;
}
#navtext{
    font-family: 'Raleway';
    font-size: 3vw;
    color: white;
    transition: top .6s;
}
.nav-link{
    text-decoration: none;
    color: white;
    display: flex;
    list-style: none;
    font-family: 'Krub';
}
.navbar-brand img{
    width: 50px;
    height: 50px;
}
.navbar{
    position: relative;
}
.icons .row div button{
    outline: none;
    padding: 0;
    width: 50px;
    margin: 10px;
}
.contentcont{
    height: max-content;
}
.icons .row div button img{
    border: 1px solid black;
    padding: 5px;
    width: 50px;
    border-radius: 14px;
    background-color: white;
}
.icons .row div button img:hover{
    filter:invert(100);
    -webkit-transition: ease-in-out 0.3s;
}
.icons .row div button.liked img{
    filter:invert(100);
}
.icons{
    position: absolute;
    top: 300px;
}
.Recipe-Name{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-top: 30px;
    width: 500px;
}
.Indention-Ing{
    text-indent: 40px;
}

.Ingredient-Title{
    padding: 10px;
}
.navbar{
    background-color: black;
}
.more{
    position: absolute;
    top: 600px;
    left: 370px;
}
.more div button img{
    border: 1px solid black;
    padding: 5px;
    width: 50px;
    border-radius: 14px;
    margin: 10px;
    background-color: white;
}
.more div button img:hover{
    filter:invert(100);
    -webkit-transition: ease-in-out 0.3s;
}
div div div a.dpup:hover{
    background-color: black;
    color: white;
    -webkit-transition: ease-in-out 0.2s;
}
.Img-container{
    position: relative;
    top: 40px;
    margin-right: 30px;
    margin-bottom: 50px;
}
.foodImg{
    height: max-content;
}
#foodImg{
    width: 100%;
    height: 100%;
}
.icons{
    z-index: 1;
    width: 0px;
}
button.comment-btn{ /*comment button*/
    display: block;
    margin-left: auto;
}
.dp{
    position: relative;
    width:50px;
    height: 50px;
    border: solid black;
    border-radius: 25px;
    overflow: hidden;
}
.dp img{
    max-width:100%;
    max-height:100%;
}
.usrnm{
    position: relative;
    left: 65px;
    bottom: 50px;
    width: 330px;
}
.card{
    padding: 10px;
}
.usrnm h4{
    font-family: 'Krub';
    width: 300px;
}
button.del-com{
    position: absolute;
    display: block;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    margin: auto;
    left: 340px;
    bottom: 40px;
}
button.del-com div{
    position: absolute;
    left: 7px;
    bottom: 0px;
}
.modal{
    z-index: 9998;
    font-family: 'Krub';
    
}
.modal-content{
    background-color: rgba(255, 255, 255, 0.644);
    backdrop-filter: blur(5px);
}
.commentbtn{
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 50px;
        margin-top: 10px;
        margin-bottom: 20px;
        transition: 0.8s ease;
        border: solid 1px transparent;
        font-family:'Raleway'
}
.commentbtn:hover{
     background-color: transparent;
     border: black solid 2px;
     color: black;
}
.spacing{
    margin-top: 100px;
}
.ibtn{
    transition: ease 0.5s;
}
.ibtn:hover{
    transform: scale(1.2);
}
.dropup{
    position: fixed;
    transform: translate(-50%);
    left: 85%;
    bottom: 40px;
    width: 60px;
    height: 60px;
    border-radius: 100px;   
     background-image: url(275155-200.png);
    background-position: center;
    background-size: contain;
    z-index: 2;
    border: solid white 1px;
}
.recipedetails{
    font-family: 'Raleway';
}
.vidcontainer{
    position: relative;
    top: -300px;
    display: flex;
    justify-content: center;
    
}
.ytvid{
   height: 400px;
   width: 600px;
}
iframe{
    width: 100% !important;
    height: 100% !important;
}
.copybtnn{
    border: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 100px;
    text-decoration: none;
    margin: 2vh;
    transition: ease .8s;
}
.copybtnn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.copybtnn:hover #prftxt{
    color:black;
}
@media screen and (max-width: 1100px) {
    .vidcontainer{
        top: -900px;
    }
}
@media screen and (max-width: 992px) {
    .vidcontainer{
        top: -1000px;
    }
}
@media screen and (max-width: 768px) {
    .Indention-Ing{
        text-indent: -5px;
    }
    .vidcontainer{
        position: relative;
        top: 100px;
        margin-bottom: 100px;
    }
    .spacing{
        margin-top: 0px;
    }
    .adjust{
        margin-top: -60px;
    }
    .foodImg{
        position: relative;
        overflow: hidden;
        width: 100vw;
        height: 65vh;
        padding: 0px;
        box-sizing: content-box;
        bottom: 70px;
    }
    .dropdown-menu{
        margin: 10px;
        background-color: rgba(20, 190, 125, 0.24);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        overflow: hidden;
        font-family:'Krub';
        margin-bottom: 20px;
    }
    .dropdown-menu .like-btn.liked{
        background-color: black;
        color: white;
    }
    .Img-container{
        top: 0px;
        margin-right: 0px;
    }
    #foodImg{
        position: static;
        width: 100vw;
        height: auto;
        margin: auto;
        display: block;
        padding: 0px;
        margin: 0px;
    }
    button.del-com{
        right: 50px;
    }
  }

  ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(107, 107, 107, 0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
}

::-webkit-scrollbar-thumb
{
	background-color: #34b44f;
}

.footer{
    background-color: black;
    z-index: 3;
    }
    .footbrnd h1{
    padding-top: 20px;
    color: white;
    font-size: 50px;
    font-family: 'Raleway';
    }
    .footbrnd p{
    color: white;
    font-size: 15px;
    font-family: 'Krub';
    margin: 6vh;
    }
    .socials ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    .socials li{
    list-style: none;
    margin: 1vw;
    display:inline;
    }
    .socials a{
    text-align: center;
    }
    .socicon{
    filter: invert(100);
    width:50px;
    height: auto;
    }
    .colh1{
    font-family: 'Krub';
    font-size: 40px;
    color: white;
    padding-top: 50px;
    }
    .column{
    text-align: center;
    align-content: center;
    }
    .contacts li{
    list-style: none;
    font-family: 'Krub';
    color: white;
    }

    .commentcard{
        background-color: rgb(255, 255, 255);
        height: max-content;
        margin-bottom: 10px;
    }
    .commentcard .usrnm{
        font-weight: bold;
    }